main:not(.newsletter-main) {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-inline: auto;
    max-width: 100%;
    
    @media (max-width: 900px) {
        grid-template-columns: 100%;
    }
    @media (min-width: 1450px) {
        grid-template-columns: 80% 25%;
        max-width: 1300px;
    }

    .carousel {
        grid-column: 1 / -1;
    }

    .showtime {
        max-width: 100%;
        @media (min-width: 900px) {
            place-self: start;
            margin-top: 6rem;
            grid-column: 2;
        }
    }

}

.showtime {
    margin-inline: auto;
    margin-block: 2rem 0rem;
    background-color: $c-yellow;
    list-style-type: none;
    // max-width: 300px;
    border-radius: 10px;
    padding: 1rem 0.5rem 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    h2 {
        text-align: center;
        font-size: clamp(1.5rem, 3vw, 2rem);
        place-self: start;
        color: $c-gray-light;
        letter-spacing: 2px;
        text-shadow: 2px 2px 6px rgb(0 0 0 / 0.5), 0 1px 3px rgb(0 0 0 / 0.7);
        margin-bottom: 1rem;
    }

    .showtimes {
        margin-left: 10px;
        list-style-type: none;

        h3 {
            text-align: le;
            font-size: clamp(1rem, 2vw, 1.5rem);
            place-self: start;
            color: $c-gray-dark;
            letter-spacing: 2px;
            text-shadow: 2px 2px 6px rgb(0 0 0 / 0.5), 0 1px 3px rgb(0 0 0 / 0.7);
            margin: 0.5rem 0;
        }

        li {
            font-weight: 700;
            text-align: left;
            font-size: clamp(0.7rem, 1.5vw, 1rem);
            place-self: start;
            color: $c-gray-dark;
            letter-spacing: 2px;
            
            a {
                color: $c-blue-dark;
                text-decoration: none;
            }

            a:hover {
                text-shadow: 3px 3px 10px rgb(0 0 0 / 0.5), 0 1px 3px rgb(0 0 0 / 0.7);
            }

            a:active {
                color: $c-gray-dark;
            }
        }

        li:last-child{
            margin-bottom: 1.5rem;
        }


    }

    .show-more-days {
        font-size: clamp(0.7rem, 1.5vw, 1rem);
        background-color: $c-red-dark;
        border-radius: 10px;
        padding: 8px;
        color: $c-yellow;
        border: 1px solid black;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 0 20%;
    }

    .show-more-days:hover {
        background-color: $c-red-light;
    }

    .show-more-days:active {
        box-shadow:inset 0 0 10px $c-yellow;
    }
}

@media (max-width: $bp-small) {
    .showtime {
        padding: 0.5rem;
        h2 {
            margin: 0;
            padding: 0;
        }
    }
    .showtime-showtimes{
        margin: 0;
        padding: 2px;
        display: flex;

        .showtimes {
            margin: 10px;

            li {
                padding: 2px;
            }

            li:last-child{
                margin-bottom: 0;
            }
        }
    }
}