@import "./variables.scss";

.carousel {
    background-color: #edf2f4;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.carousel-item {
    height: 100%;
    width: 100%;
    display: none;
}

.carousel-item img {
    width: 98%;
    height: 90%;
    opacity: 0.8;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

.carousel-arrow, .carousel-item-text-container {
    z-index: 2;
}

.carousel-arrow {
    border-top: 3px solid black;
    border-left: 3px solid black;
    height: 20px;
    width: 20px;
}

.carousel-item-prev {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

.carousel-item-next {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    transform: rotate(135deg);
}

.carousel-item-text-container {
    animation: slideTextUp 500ms ease-in 1100ms forwards;
    padding: 1rem;
    background-color: rgba($color: #edf2f4, $alpha: 0.5);
    position: absolute;
    bottom: 20%;
    left: 30%;
    opacity: 0;
    h3 {
        margin: 0;
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
    a {
        border: 1px solid black;
        padding: 0.25rem 0.5rem;
        border-radius: 15px;
        margin-bottom: 1rem;
    }
}

@keyframes slideTextUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.carousel-item.active {
    display: block;
    position: absolute;
    animation: slideFromLeft ease-in-out 1000ms forwards;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.carousel-item.last {
    display: block;
    position: absolute;
    animation: slideOutLeft ease-in-out 1000ms forwards;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel-cover-left {
    background-color: $c-gray-dark;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    z-index: 1000;
}

.carousel-cover-right {
    background-color: $c-gray-dark;
    position: absolute;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    z-index: 1000;
}