@import "./variables.scss"; 
@import "./movieCard.scss"; 
@import "./asideShowTimes.scss"; 
@import "./footer.scss"; 
@import "./movieList.scss"; 
@import "./header.scss"; 
@import "./movieDetails.scss"; 
@import "./search.scss";
@import "./newsletter.scss"; 
@import "./carousel.scss";
@import "./about.scss";
@import "./comingPremieres.scss";
@import "./open.scss";
@import "./ticketInfo.scss";
@import "./navMenu.scss";
@import "./giftcertificate.scss";

:root {
	background-color: $c-gray-dark;
	color: $c-blue-dark;
	font-family: $font-one;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-block: 2rem 1rem;
	margin-inline: 0.5rem;
}

p {
	font-family: $font-two;
	margin-bottom: 0.5rem;
	line-height: 170%;
	max-width: 75ch;
	font-size: 1rem;
	color: $c-blue-dark;
}

a {
	text-decoration: none;
	color: $c-red-dark;
	font-weight: 700;
	transition: all 0.3s;

	&:hover {
		color: $c-red-light;
	}
}

.placeholder {
	text-align: center;
	grid-column: 1 / -1;
	
	p {
		margin: auto;
	}

	audio {
		margin-top: 1rem;
	}

	button {
		display: block;
		margin: auto;
		margin-top: 2rem;
        background-color: $c-red-dark;
        border-radius: 10px;
        padding: 8px;
        color: $c-yellow;
        border: 1px soild black;
        text-align: center;
        text-decoration: none;
	}
}
