.ticket-info {
    width: 80%;
    color: $c-blue-dark;
    margin-inline: 30%;

    p {
        padding-inline: 1rem;
        min-width: 100%;
        small {
            font-size: 1em;
            font-weight: bold;
        }
    }

    ul {
        list-style-type: none;
    }
}