@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Mukta:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
 
$c-red-dark: #540b0e;
$c-red-light: #9e2a2b;
$c-yellow: #fff3b0;
$c-gray-light: #edf2f4;
$c-gray-dark: #d9d9d9;
$c-blue-dark: #161a1d;
$font-one: "Fira Sans";
$font-two: "Mukta";
$bp-medium: 750px;
$bp-small: 500px;