@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Mukta:wght@300;400;700&display=swap");
.filtered-list {
  list-style-type: none;
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}
.filtered-list .date-header {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgba(158, 42, 43, 0.4);
  color: #9e2a2b;
  padding-left: 4rem;
  margin-block: 1.5rem;
}
.filtered-list .filtered-card:not(:last-of-type)::after {
  content: "";
  display: block;
  grid-column: 1/-1;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #9e2a2b 50%, rgba(238, 238, 238, 0) 100%);
  border-radius: 50%;
  margin-block: 1rem;
}
.filtered-list .filtered-card {
  display: grid;
  grid-template-columns: auto auto 40% 20%;
  place-content: center;
}
.filtered-list .filtered-card-time {
  font-weight: 700;
  font-size: clamp(1.7rem, 2vw, 2rem);
  margin-right: -20px;
  padding-top: 1rem;
  z-index: 1;
  color: #edf2f4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.filtered-list .filtered-card-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.filtered-list .filtered-card-text {
  padding: 1rem;
}
.filtered-list .filtered-card-detail {
  font-size: 0.8rem;
  font-family: "Mukta";
}
.filtered-list .filtered-card img {
  max-height: 140px;
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #161a1d;
}
.filtered-list .filtered-card-button {
  text-decoration: none;
  font-family: "Mukta";
  border-radius: 2px;
  padding: 0.5em clamp(1.8rem, 3vw, 2.5rem);
  color: #edf2f4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  display: inline-block;
  border-radius: 5px;
  background-color: #9e2a2b;
  background-image: linear-gradient(to bottom, #540b0e 0%, #9e2a2b 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-button:hover {
  background-position: -200%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .filtered-list .filtered-card-text {
    text-align: center;
  }
  .filtered-list .filtered-card-time {
    margin-right: -50px;
  }
  .filtered-list .filtered-card-buttons {
    flex-wrap: wrap;
    justify-content: end;
    max-width: 60vw;
    place-self: end;
  }
}
@media (max-width: 750px) {
  .filtered-list {
    padding: 1rem;
  }
  .filtered-list .date-header {
    padding-left: 1rem;
  }
  .filtered-list .filtered-card {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 10% 20% 70%;
  }
  .filtered-list .filtered-card-time, .filtered-list .filtered-card-image {
    grid-row: 1/-1;
  }
  .filtered-list .filtered-card-text {
    margin-left: 0.5rem;
  }
  .filtered-list .filtered-card-buttons {
    margin-left: -70px;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 0.5em 2em;
  }
}
.showtime {
  background-color: #fff3b0;
  list-style-type: none;
  max-width: 300px;
  border-radius: 10px;
  padding: 1rem 0.5rem 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.showtime h2 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}
.showtime .showtimes {
  margin-left: 10px;
  list-style-type: none;
}
.showtime .showtimes h3 {
  text-align: le;
  font-size: clamp(1rem, 2vw, 1.5rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin: 0.5rem 0;
}
.showtime .showtimes li {
  font-weight: 700;
  text-align: left;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
}
.showtime .showtimes li a {
  color: #161a1d;
  text-decoration: none;
}
.showtime .showtimes li a:hover {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.showtime .showtimes li a:active {
  color: #d9d9d9;
}
.showtime .showtimes li:last-child {
  margin-bottom: 1.5rem;
}
.showtime .show-more-days {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  background-color: #540b0e;
  border-radius: 10px;
  padding: 8px;
  color: #fff3b0;
  border: 1px soild black;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 20%;
}
.showtime .show-more-days:hover {
  background-color: #9e2a2b;
}
.showtime .show-more-days:active {
  box-shadow: inset 0 0 10px #fff3b0;
}

@media (max-width: 500px) {
  .showtime {
    padding: 0.5rem;
    margin: 0;
  }
  .showtime h2 {
    margin: 0;
    padding: 0;
  }
  .showtime-showtimes {
    margin: 0;
    padding: 2px;
    display: flex;
    max-height: 10vh;
    overflow: scroll;
  }
  .showtime-showtimes .showtimes {
    margin: 10px;
  }
  .showtime-showtimes .showtimes li {
    padding: 2px;
  }
  .showtime-showtimes .showtimes li:last-child {
    margin-bottom: 0;
  }
}
:root {
  background-color: #d9d9d9;
  color: #161a1d;
  font-family: "Fira Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
