@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Mukta:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.filtered-list {
  list-style-type: none;
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}
.filtered-list .date-header {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgba(158, 42, 43, 0.4);
  color: #9e2a2b;
  padding-left: 4rem;
  margin-block: 1.5rem;
}
.filtered-list .filtered-card:not(:last-of-type)::after {
  content: "";
  display: block;
  grid-column: 1/-1;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #9e2a2b 50%, rgba(238, 238, 238, 0) 100%);
  border-radius: 50%;
  margin-block: 1rem;
}
.filtered-list .filtered-card {
  display: grid;
  grid-template-columns: auto auto 40% 20%;
  place-content: center;
}
.filtered-list .filtered-card-time {
  font-weight: 700;
  font-size: clamp(1.7rem, 2vw, 2rem);
  margin-right: -20px;
  padding-top: 1rem;
  z-index: 1;
  color: #edf2f4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.filtered-list .filtered-card-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.filtered-list .filtered-card-text {
  padding: 1rem;
}
.filtered-list .filtered-card-detail {
  font-size: 0.8rem;
  font-family: "Mukta";
}
.filtered-list .filtered-card img {
  max-height: 140px;
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #161a1d;
}
.filtered-list .filtered-card-button {
  text-decoration: none;
  font-family: "Mukta";
  border-radius: 2px;
  padding: 0.5em clamp(1.8rem, 3vw, 2.5rem);
  color: #edf2f4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  display: inline-block;
  border-radius: 5px;
  background-color: #9e2a2b;
  background-image: linear-gradient(to bottom, #540b0e 0%, #9e2a2b 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-button:hover {
  background-position: -200%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .filtered-list .filtered-card-text {
    text-align: center;
  }
  .filtered-list .filtered-card-time {
    margin-right: -50px;
  }
  .filtered-list .filtered-card-buttons {
    flex-wrap: wrap;
    justify-content: end;
    max-width: 60vw;
    place-self: end;
  }
}
@media (max-width: 750px) {
  .filtered-list {
    padding: 1rem;
  }
  .filtered-list .date-header {
    padding-left: 1rem;
  }
  .filtered-list .filtered-card {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 10% 20% 70%;
  }
  .filtered-list .filtered-card-time, .filtered-list .filtered-card-image {
    grid-row: 1/-1;
  }
  .filtered-list .filtered-card-text {
    margin-left: 0.5rem;
  }
  .filtered-list .filtered-card-buttons {
    margin-left: -70px;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 0.5em 2em;
  }
}
main:not(.newsletter-main) {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-inline: auto;
  max-width: 100%;
}
@media (max-width: 900px) {
  main:not(.newsletter-main) {
    grid-template-columns: 100%;
  }
}
@media (min-width: 1450px) {
  main:not(.newsletter-main) {
    grid-template-columns: 80% 25%;
    max-width: 1300px;
  }
}
main:not(.newsletter-main) .carousel {
  grid-column: 1/-1;
}
main:not(.newsletter-main) .showtime {
  max-width: 100%;
}
@media (min-width: 900px) {
  main:not(.newsletter-main) .showtime {
    place-self: start;
    margin-top: 6rem;
    grid-column: 2;
  }
}

.showtime {
  margin-inline: auto;
  margin-block: 2rem 0rem;
  background-color: #fff3b0;
  list-style-type: none;
  border-radius: 10px;
  padding: 1rem 0.5rem 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.showtime h2 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}
.showtime .showtimes {
  margin-left: 10px;
  list-style-type: none;
}
.showtime .showtimes h3 {
  text-align: le;
  font-size: clamp(1rem, 2vw, 1.5rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin: 0.5rem 0;
}
.showtime .showtimes li {
  font-weight: 700;
  text-align: left;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
}
.showtime .showtimes li a {
  color: #161a1d;
  text-decoration: none;
}
.showtime .showtimes li a:hover {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.showtime .showtimes li a:active {
  color: #d9d9d9;
}
.showtime .showtimes li:last-child {
  margin-bottom: 1.5rem;
}
.showtime .show-more-days {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  background-color: #540b0e;
  border-radius: 10px;
  padding: 8px;
  color: #fff3b0;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 20%;
}
.showtime .show-more-days:hover {
  background-color: #9e2a2b;
}
.showtime .show-more-days:active {
  box-shadow: inset 0 0 10px #fff3b0;
}

@media (max-width: 500px) {
  .showtime {
    padding: 0.5rem;
  }
  .showtime h2 {
    margin: 0;
    padding: 0;
  }
  .showtime-showtimes {
    margin: 0;
    padding: 2px;
    display: flex;
  }
  .showtime-showtimes .showtimes {
    margin: 10px;
  }
  .showtime-showtimes .showtimes li {
    padding: 2px;
  }
  .showtime-showtimes .showtimes li:last-child {
    margin-bottom: 0;
  }
}
footer {
  margin-top: 4em;
  width: 95%;
  margin-inline: auto;
  padding-bottom: 1em;
  text-align: center;
  background-color: #edf2f4;
}
footer .footer-header {
  padding-top: 1em;
  font-size: 1.5em;
}
footer a {
  color: #9e2a2b;
  text-decoration: none;
}
footer img {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
footer img:last-child {
  content: url("img/sponsors/sponsor_santa.jpg");
}

@media (min-width: 500px) and (max-width: 1000px) {
  footer {
    margin-top: 4em;
    width: 90%;
  }
}
@media (min-width: 750px) {
  footer {
    width: 80%;
    display: flex;
    flex: 1 1 0px;
  }
  footer .footer-section {
    flex: 1 1 0;
    width: 0;
  }
  footer .footer-section h3 {
    padding-bottom: 0.25em;
  }
  footer .footer-section a:hover {
    font-size: 1.1em;
  }
  footer .footer-section img:last-child {
    content: url("img/logo.svg");
  }
}
.current-movies {
  margin: 0 auto;
}
.current-movies-header {
  text-align: center;
  margin-block: 3rem 1rem;
}
.current-movies-list {
  margin-inline: auto;
  max-width: 1000px;
  list-style-type: none;
  display: grid;
  gap: clamp(1rem, 4vw, 2rem);
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  justify-content: center;
}
@media (max-width: 1270px) {
  .current-movies-list {
    grid-template-columns: repeat(2, 50%);
  }
}
.current-movies-list .current-movies-card {
  height: 100%;
  list-style-type: none;
  max-width: 280px;
  background-color: #edf2f4;
  padding: 1.5rem;
  width: 28vw;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.current-movies-list .current-movies-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.current-movies-list .current-movies-card-title {
  font-size: clamp(1rem, 2vw, 1.2rem);
  transition: all 0.3s;
  text-align: center;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-family: "Mukta";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 10%;
}
.current-movies-list .current-movies-card-image {
  height: 88%;
  width: 100%;
  aspect-ratio: 10/16;
  object-fit: cover;
  border: 3px solid white;
}

@media (max-width: 750px) {
  .current-movies-header {
    margin-block: 3rem 1rem;
  }
  .current-movies-list {
    grid-template-columns: repeat(2, 45%);
  }
  .current-movies .current-movies-card {
    width: auto;
  }
}
@media (max-width: 500px) {
  .current-movies-header {
    margin-block: 3rem 1rem;
  }
  .current-movies-list {
    grid-template-columns: 80%;
  }
}
header {
  background-color: #edf2f4;
  width: 95%;
  margin-top: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
header .header-logo {
  margin-left: 1em;
  margin-top: 0.5em;
  width: 60%;
}
header .header-list-toggle {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: absolute;
  top: 2em;
  right: 2em;
  margin: 0;
  padding: 0;
  border-width: 0;
}
header .header-list-toggle::before {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: relative;
  top: 0.8em;
}
header .header-list-toggle::after {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: relative;
  top: 1.2em;
}
header .header-list-toggle.open {
  z-index: 1111;
  transform: rotate(45deg);
  background-color: #fff3b0;
  top: 2.5em;
  right: 2em;
}
header .header-list-toggle.open::before {
  top: 0;
  background-color: #fff3b0;
  transform: rotate(90deg);
}
header .header-list-toggle.open::after {
  display: none;
}
header .header-list {
  display: none;
}
header .header-list.open {
  display: block;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5em;
  font-size: 1.5em;
  list-style-type: none;
  text-align: center;
  border: 3px solid black;
  background-color: #540b0e;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
header .header-list.open li {
  margin: 2em 0;
}
header .header-list.open li a {
  color: #d9d9d9;
  text-decoration: none;
}
header .header-list.open li img {
  width: 1.5em;
  height: 1.5em;
}

@media (min-width: 500px) and (max-width: 1000px) {
  header {
    width: 90%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #edf2f4;
  }
  header .header-logo {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  header .header-list-toggle {
    display: none;
  }
  header .header-list {
    width: 100%;
    margin-top: 1em;
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  header .header-list li {
    margin: 0.5em 0.5em;
    text-align: center;
  }
  header .header-list li a {
    text-decoration: none;
    color: #161a1d;
    font-weight: bold;
  }
  header .header-list li a:hover {
    color: #9e2a2b;
  }
  header .header-list li a img {
    width: 1.5em;
    height: 1.5em;
  }
  header .header-list li a img:hover {
    width: 1.6em;
    height: 1.6em;
  }
}
@media (min-width: 1001px) {
  header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }
  header .header-logo {
    width: 8.4em;
    height: 6.9em;
    margin: 0 1em;
  }
  header .header-list-toggle {
    display: none;
  }
  header .header-list {
    list-style-type: none;
    font-size: 1rem;
    display: inline;
  }
  header .header-list li {
    display: inline;
    margin: 0 0.4em;
  }
  header .header-list li a {
    text-decoration: none;
    color: #161a1d;
  }
  header .header-list li a:hover {
    color: #9e2a2b;
    font-weight: bold;
  }
  header .header-list li a img {
    position: relative;
    top: 0.45em;
    width: 1.3em;
    height: 1.3em;
  }
  header .header-list li a img:hover {
    width: 1.4em;
    height: 1.4em;
  }
}
.movie-details {
  max-width: 900px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 200px 1fr;
}
@media (max-width: 750px) {
  .movie-details {
    grid-template-columns: 100%;
  }
}
.movie-details > div {
  padding: 1rem;
}
@media (min-width: 750px) {
  .movie-details > div {
    grid-column: 2;
  }
}
.movie-details hr {
  border: none;
  display: block;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #9e2a2b 50%, rgba(238, 238, 238, 0) 100%);
  border-radius: 50%;
  margin-block: 0.5rem 0rem;
}
.movie-details .movie-title {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  text-transform: uppercase;
  font-family: "Fira Sans";
  border-radius: 5px;
  background-color: #9e2a2b;
  padding: 1rem;
  color: #edf2f4;
  margin-inline: 0;
  box-shadow: 0px 0px 3px #161a1d;
}
.movie-details .movie-genres {
  padding: 1rem 1rem;
  font-family: "Mukta";
  text-transform: uppercase;
  font-weight: 700;
}
.movie-details .movie-description {
  padding: 1rem;
}
.movie-details .movie-info {
  padding: 1rem;
  width: 100%;
}
.movie-details .movie-info span:not(:nth-last-of-type(1))::after {
  content: "|";
  padding-inline: 0.3rem;
  display: inline-block;
}
.movie-details .movie-trailer {
  text-align: right;
}
.movie-details .movie-trailer a {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #edf2f4;
}
.movie-details .movie-poster {
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 8px;
  background-color: #edf2f4;
  box-shadow: 0px 0px 5px #161a1d;
  padding: 0.5rem;
  grid-column: 1;
  grid-row: 1;
  max-width: 180px;
  margin-inline: auto;
  margin-top: 3rem;
}
.movie-details .movie-showtimes {
  padding-bottom: 2rem;
}
.movie-details .movie-showtimes h2 {
  text-transform: uppercase;
  font-family: "Mukta";
}
.movie-details .movie-showtimes .movie-showtimes-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.movie-details .movie-showtimes .movie-showtimes-list li {
  padding: 1rem;
  width: 100%;
  display: contents;
  margin-bottom: 1rem;
}
.movie-details .movie-showtimes .movie-showtimes-list li span {
  text-transform: uppercase;
  display: block;
}
.movie-details .movie-showtimes .movie-showtimes-list li:not(:last-of-type)::after {
  content: "";
  display: block;
  grid-column: 1/-1;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #9e2a2b 50%, rgba(238, 238, 238, 0) 100%);
  border-radius: 50%;
  margin-block: 1.5rem;
}
.movie-details .movie-showtimes .movie-showtimes-list .movie-tickets {
  place-self: end;
  text-decoration: none;
  font-family: "Mukta";
  padding: 0.5em clamp(1.8rem, 3vw, 2.5rem);
  color: #edf2f4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  display: inline-block;
  border-radius: 5px;
  background-color: #9e2a2b;
  background-image: linear-gradient(to bottom, #540b0e 0%, #9e2a2b 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: all 300ms ease-in-out;
}
.movie-details .movie-showtimes .movie-showtimes-list .movie-tickets:hover {
  background-position: -200%;
  transition: all 300ms ease-in-out;
}

.noResult {
  display: none;
  font-size: 1.5rem;
  justify-content: center;
}

#search-icon {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}

.search-bx .search {
  align-items: center;
  color: #161a1d;
  display: flex;
  position: relative;
}
.search-bx .search input {
  background: transparent;
  border-radius: 20px;
  border: none;
  color: #161a1d;
  outline: none;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  width: 0px;
}
.search-bx .search i {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 13px;
  transition: 0.4s linear;
}
.search-bx .search .search-bx2 {
  background: rgba(22, 26, 29, 0.0823529412);
  border-radius: 10px;
  display: block;
  height: 300px;
  left: -10px;
  opacity: 0;
  overflow: auto;
  position: absolute;
  scrollbar-width: thin;
  scrollbar-color: rgba(22, 26, 29, 0.0823529412) rgba(22, 26, 29, 0.0823529412);
  top: 35px;
  transition: 0.3s linear;
  visibility: hidden;
  width: 280px;
  z-index: 3;
}
.search-bx .search .search-bx2 a {
  align-items: center;
  color: #161a1d;
  display: flex;
  height: 100px;
  text-decoration: none;
  transition: 0.3s linear;
  width: 100%;
}
.search-bx .search .search-bx2 a img {
  height: 100%;
  padding-right: 5px;
  top: 0px;
  width: 80px;
}
.search-bx .search .search-bx2 a .search-content {
  color: #161a1d;
}
.search-bx .search .search-bx2 a .search-content h6 {
  font-size: 13px;
}
.search-bx .search .search-bx2 a .search-content p {
  color: #161a1d;
  font-size: 11px;
  font-weight: 500;
}
.search-bx .search .search-bx2 a:hover {
  background: #edf2f4;
}
.search-bx .search .search-input {
  padding: 3px 0px 3px 8px;
  width: 280px;
}

@media (max-width: 500px) {
  .search-bx {
    display: flex;
  }
  .search-bx .search .search-bx2 {
    display: block;
    background: #fff3b0;
    bottom: 0;
    height: 460px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    top: 120px;
    width: 80vw;
  }
  .search-bx .search .search-input {
    background: #fff3b0;
    display: block;
    left: 25px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 80vw;
  }
  .search-bx .search #search {
    background: #fff3b0;
    color: #161a1d;
    position: absolute;
    top: -520px;
  }
  .search-bx .search #search-icon {
    color: #fff3b0;
    font-size: 2em;
    left: 10px;
    position: absolute;
    top: -590px;
  }
}
.news-letter {
  width: 75%;
  margin-inline: auto;
  margin-top: 4rem;
  max-width: 700px;
}
.news-letter h2 {
  margin: 0;
  margin-bottom: 5px;
}

.news-letter-center {
  padding-inline: 1rem;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.nyhetsbrev-button, .signup-btn {
  background-color: #9e2a2b;
  border-radius: 10px;
  color: #fff3b0;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.nyhetsbrev-button:hover {
  opacity: 1;
}

.signup-btn:hover {
  opacity: 1;
}

.signup-btn {
  background-color: #04aa6d;
  padding: 14px 20px;
}

#sign-up {
  width: auto;
}

.cancel-btn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancel-btn,
.signup-btn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}
.container input[type=text],
.container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #161a1d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancel-btn,
  .signup-btn {
    width: 100%;
  }
}
.carousel {
  background-color: #edf2f4;
  border-radius: 5px;
  width: 70%;
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 999px) {
  .carousel {
    width: 90%;
  }
}
@media screen and (max-width: 599px) {
  .carousel {
    display: none;
  }
}

.carousel-item {
  height: 100%;
  width: 100%;
  display: none;
}

.carousel-item img {
  width: 98%;
  height: 96%;
  opacity: 0.8;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

.carousel-arrow,
.carousel-item-text-container {
  z-index: 2;
}

.carousel-arrow {
  border-top: 3px solid black;
  border-left: 3px solid black;
  height: 20px;
  width: 20px;
}

.carousel-item-prev {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
@media screen and (max-width: 999px) {
  .carousel-item-prev {
    left: 60px;
  }
}

.carousel-item-next {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transform: rotate(135deg);
}
@media screen and (max-width: 999px) {
  .carousel-item-next {
    right: 60px;
  }
}

.carousel-item-text-container {
  overflow: hidden;
  animation: slideTextUp 500ms ease-in 1100ms forwards;
  padding: 1.5rem;
  background-color: rgba(237, 242, 244, 0.8);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #161a1d;
  bottom: 20%;
  left: 30%;
  opacity: 0;
}
.carousel-item-text-container h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.carousel-item-text-container p {
  margin-bottom: 1rem;
}
.carousel-item-text-container a {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

@keyframes slideTextUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.carousel-item.active-left {
  display: block;
  position: absolute;
  animation: slideFromLeft ease-in-out 1000ms forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.carousel-item.active-right {
  display: block;
  position: absolute;
  animation: slideFromRight ease-in-out 1000ms forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.carousel-item.last-left {
  display: block;
  position: absolute;
  animation: slideOutLeft ease-in-out 1000ms forwards;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carousel-item.last-right {
  display: block;
  position: absolute;
  animation: slideOutRight ease-in-out 1000ms forwards;
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.about {
  width: 75%;
  margin-inline: 30%;
}
.about p {
  padding-inline: 1rem;
  max-width: 70ch;
}

.main-content {
  display: block;
  margin: 0 auto;
  width: 95%;
  padding: 2rem 3rem;
  margin-top: 4rem;
  background-color: #edf2f4;
}
.main-content ul {
  list-style: none;
}
.main-content h2 {
  margin-top: 0;
}
@media (min-width: 500px) {
  .main-content {
    width: 90%;
  }
}
@media (min-width: 1001px) {
  .main-content {
    width: 80%;
  }
}

.disclaimer-text {
  margin-top: 2rem;
}

.open {
  width: 75%;
  margin-inline: 30%;
}
.open .opentimes, .open .contact {
  list-style-type: none;
}
.open .rent {
  list-style-type: georgian;
}
.open li, .open p {
  padding-inline: 1rem;
  max-width: 70ch;
}

.ticket-info {
  width: 80%;
  color: #161a1d;
  margin-inline: 30%;
}
.ticket-info p {
  padding-inline: 1rem;
  min-width: 100%;
}
.ticket-info p small {
  font-size: 1em;
  font-weight: bold;
}
.ticket-info ul {
  list-style-type: none;
}

@media (max-width: 750px) {
  nav .nav-list {
    width: 80%;
    margin-inline: auto;
  }
  nav .nav-list .nav-list-item {
    display: inline-block;
    border-radius: 1.5em;
    background-color: #fff3b0;
    padding: 0 1em;
    margin: 0 0.5em;
    white-space: initial;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-button {
    cursor: pointer;
    font-size: 1em;
    color: #9e2a2b;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content {
    display: none;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content label {
    font-weight: bold;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content a {
    display: block;
    padding-bottom: 0.5em;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content small {
    color: #540b0e;
    display: block;
    padding: 0.25em 0;
  }
  nav .nav-list .nav-list-item .dropdown .show {
    display: block;
  }
}
@media (min-width: 750px) {
  nav {
    width: 100%;
    margin-inline: auto;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  nav .nav-list {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    white-space: nowrap;
    display: flex;
  }
  nav .nav-list .nav-list-item {
    display: inline-block;
    border-radius: 1.5em;
    background-color: #fff3b0;
    padding: 0 1em;
    margin: 0 0.5em;
    white-space: initial;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  }
  nav .nav-list .nav-list-item:hover {
    background-color: #e3d582;
    cursor: pointer;
  }
  nav .nav-list .nav-list-item .dropdown {
    float: left;
    overflow: hidden;
    padding: 0.5em 0;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-button {
    cursor: pointer;
    font-size: 1em;
    color: #9e2a2b;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    font-weight: bold;
    margin: 0;
  }
  nav .nav-list .nav-list-item .dropdown #dropdown-search {
    padding: 0.75em;
    border: 2px solid #9e2a2b;
    border-radius: 1.5em;
    background-color: #fff3b0;
  }
  nav .nav-list .nav-list-item .dropdown #dropdown-search label {
    font-weight: bold;
  }
  nav .nav-list .nav-list-item .dropdown #dropdown-search small {
    display: block;
    color: #9e2a2b;
    padding-top: 0.25em;
    font-style: italic;
    text-align: center;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.25em;
    margin-left: 0.25em;
    background-color: #edf2f4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content:hover {
    display: block;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content a {
    float: none;
    color: #540b0e;
    font-weight: 100;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  nav .nav-list .nav-list-item .dropdown .dropdown-content a:hover {
    font-weight: bold;
    background-color: #d9d9d9;
  }
  nav .nav-list .nav-list-item .dropdown .show {
    display: block;
  }
  nav .nav-list .nav-list-item ul {
    list-style-type: none;
  }
}
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: #9e2a2b;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #540b0e;
}

.shop-item-button {
  margin: auto;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  display: none;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #d90202;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #ce3c3c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #9e2a2b;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

@media (max-width: 500px) {
  .cart-item-title {
    display: none;
  }
}
:root {
  background-color: #d9d9d9;
  color: #161a1d;
  font-family: "Fira Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-block: 2rem 1rem;
  margin-inline: 0.5rem;
}

p {
  font-family: "Mukta";
  margin-bottom: 0.5rem;
  line-height: 170%;
  max-width: 75ch;
  font-size: 1rem;
  color: #161a1d;
}

a {
  text-decoration: none;
  color: #540b0e;
  font-weight: 700;
  transition: all 0.3s;
}
a:hover {
  color: #9e2a2b;
}

.placeholder {
  text-align: center;
  grid-column: 1/-1;
}
.placeholder p {
  margin: auto;
}
.placeholder audio {
  margin-top: 1rem;
}
.placeholder button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  background-color: #540b0e;
  border-radius: 10px;
  padding: 8px;
  color: #fff3b0;
  border: 1px soild black;
  text-align: center;
  text-decoration: none;
}
