@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Mukta:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.filtered-list {
  list-style-type: none;
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}
.filtered-list .date-header {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgba(158, 42, 43, 0.4);
  color: #9e2a2b;
  padding-left: 4rem;
  margin-block: 1.5rem;
}
.filtered-list .filtered-card:not(:last-of-type)::after {
  content: "";
  display: block;
  grid-column: 1/-1;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #9e2a2b 50%, rgba(238, 238, 238, 0) 100%);
  border-radius: 50%;
  margin-block: 1rem;
}
.filtered-list .filtered-card {
  display: grid;
  grid-template-columns: auto auto 40% 20%;
  place-content: center;
}
.filtered-list .filtered-card-time {
  font-weight: 700;
  font-size: clamp(1.7rem, 2vw, 2rem);
  margin-right: -20px;
  padding-top: 1rem;
  z-index: 1;
  color: #edf2f4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.filtered-list .filtered-card-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.filtered-list .filtered-card-text {
  padding: 1rem;
}
.filtered-list .filtered-card-detail {
  font-size: 0.8rem;
  font-family: "Mukta";
}
.filtered-list .filtered-card img {
  max-height: 140px;
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #161a1d;
}
.filtered-list .filtered-card-button {
  text-decoration: none;
  font-family: "Mukta";
  border-radius: 2px;
  padding: 0.5em clamp(1.8rem, 3vw, 2.5rem);
  color: #edf2f4;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  display: inline-block;
  border-radius: 5px;
  background-color: #9e2a2b;
  background-image: linear-gradient(to bottom, #540b0e 0%, #9e2a2b 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-button:hover {
  background-position: -200%;
  transition: all 300ms ease-in-out;
}
.filtered-list .filtered-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .filtered-list .filtered-card-text {
    text-align: center;
  }
  .filtered-list .filtered-card-time {
    margin-right: -50px;
  }
  .filtered-list .filtered-card-buttons {
    flex-wrap: wrap;
    justify-content: end;
    max-width: 60vw;
    place-self: end;
  }
}
@media (max-width: 750px) {
  .filtered-list {
    padding: 1rem;
  }
  .filtered-list .date-header {
    padding-left: 1rem;
  }
  .filtered-list .filtered-card {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 10% 20% 70%;
  }
  .filtered-list .filtered-card-time, .filtered-list .filtered-card-image {
    grid-row: 1/-1;
  }
  .filtered-list .filtered-card-text {
    margin-left: 0.5rem;
  }
  .filtered-list .filtered-card-buttons {
    margin-left: -70px;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 0.5em 2em;
  }
}
.showtime {
  background-color: #fff3b0;
  list-style-type: none;
  max-width: 300px;
  border-radius: 10px;
  padding: 1rem 0.5rem 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.showtime h2 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
  place-self: start;
  color: #edf2f4;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}
.showtime .showtimes {
  margin-left: 10px;
  list-style-type: none;
}
.showtime .showtimes h3 {
  text-align: le;
  font-size: clamp(1rem, 2vw, 1.5rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
  margin: 0.5rem 0;
}
.showtime .showtimes li {
  font-weight: 700;
  text-align: left;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  place-self: start;
  color: #d9d9d9;
  letter-spacing: 2px;
}
.showtime .showtimes li a {
  color: #161a1d;
  text-decoration: none;
}
.showtime .showtimes li a:hover {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.7);
}
.showtime .showtimes li a:active {
  color: #d9d9d9;
}
.showtime .showtimes li:last-child {
  margin-bottom: 1.5rem;
}
.showtime .show-more-days {
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  background-color: #540b0e;
  border-radius: 10px;
  padding: 8px;
  color: #fff3b0;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 20%;
}
.showtime .show-more-days:hover {
  background-color: #9e2a2b;
}
.showtime .show-more-days:active {
  box-shadow: inset 0 0 10px #fff3b0;
}

@media (max-width: 500px) {
  .showtime {
    padding: 0.5rem;
    margin: 0;
  }
  .showtime h2 {
    margin: 0;
    padding: 0;
  }
  .showtime-showtimes {
    margin: 0;
    padding: 2px;
    display: flex;
    max-height: 10vh;
    overflow: scroll;
  }
  .showtime-showtimes .showtimes {
    margin: 10px;
  }
  .showtime-showtimes .showtimes li {
    padding: 2px;
  }
  .showtime-showtimes .showtimes li:last-child {
    margin-bottom: 0;
  }
}
footer {
  margin-top: 4em;
  width: 95%;
  margin-inline: auto;
  padding-bottom: 1em;
  text-align: center;
  background-color: #edf2f4;
}
footer .footer-header {
  padding-top: 1em;
  font-size: 1.5em;
}
footer a {
  color: #9e2a2b;
  text-decoration: none;
}
footer img {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
footer img:last-child {
  content: url("img/sponsors/sponsor_santa.jpg");
}

@media (min-width: 500px) and (max-width: 1000px) {
  footer {
    margin-top: 4em;
    width: 90%;
  }
}
@media (min-width: 750px) {
  footer {
    width: 80%;
    display: flex;
    flex: 1 1 0px;
  }
  footer .footer-section {
    flex: 1 1 0;
    width: 0;
  }
  footer .footer-section h3 {
    padding-bottom: 0.25em;
  }
  footer .footer-section a:hover {
    font-size: 1.1em;
  }
  footer .footer-section img:last-child {
    content: url("img/logo.svg");
  }
}
.current-movies {
  margin: 0 auto;
}
.current-movies-header {
  text-align: center;
  margin-block: 3rem 1rem;
}
.current-movies-list {
  margin-inline: auto;
  max-width: 1000px;
  list-style-type: none;
  display: grid;
  gap: clamp(1rem, 4vw, 2rem);
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  justify-content: center;
}
.current-movies-list .current-movies-card {
  height: 100%;
  list-style-type: none;
  max-width: 300px;
  background-color: #edf2f4;
  padding: 1.5rem;
  width: 30vw;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.current-movies-list .current-movies-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.current-movies-list .current-movies-card-title {
  font-size: clamp(1rem, 2vw, 1.2rem);
  transition: all 0.3s;
  text-align: center;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-family: "Mukta";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 10%;
}
.current-movies-list .current-movies-card-image {
  height: 88%;
  width: 100%;
  aspect-ratio: 10/16;
  object-fit: cover;
  border: 3px solid white;
}

@media (max-width: 750px) {
  .current-movies-header {
    margin-block: 3rem 1rem;
  }
  .current-movies-list {
    grid-template-columns: repeat(2, 45%);
  }
  .current-movies .current-movies-card {
    width: auto;
  }
}
@media (max-width: 500px) {
  .current-movies-header {
    margin-block: 3rem 1rem;
  }
  .current-movies-list {
    grid-template-columns: 80%;
  }
}
header {
  background-color: #edf2f4;
  width: 95%;
  margin-top: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
header .header-logo {
  margin-left: 1em;
  margin-top: 0.5em;
  width: 60%;
}
header .header-list-toggle {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: absolute;
  top: 2em;
  right: 2em;
  margin: 0;
  padding: 0;
  border-width: 0;
}
header .header-list-toggle::before {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: relative;
  top: 0.8em;
}
header .header-list-toggle::after {
  display: block;
  content: "";
  width: 4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #9e2a2b;
  position: relative;
  top: 1.2em;
}
header .header-list-toggle.open {
  z-index: 1111;
  transform: rotate(45deg);
  background-color: #fff3b0;
  top: 2.5em;
  right: 2em;
}
header .header-list-toggle.open::before {
  top: 0;
  background-color: #fff3b0;
  transform: rotate(90deg);
}
header .header-list-toggle.open::after {
  display: none;
}
header .header-list {
  display: none;
}
header .header-list.open {
  display: block;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5em;
  font-size: 1.5em;
  list-style-type: none;
  text-align: center;
  border: 3px solid black;
  background-color: #540b0e;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
header .header-list.open li {
  margin: 2em 0;
}
header .header-list.open li a {
  color: #d9d9d9;
  text-decoration: none;
}
header .header-list.open li img {
  width: 1.5em;
  height: 1.5em;
}

@media (min-width: 500px) and (max-width: 1000px) {
  header {
    width: 90%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #edf2f4;
  }
  header .header-logo {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  header .header-list-toggle {
    display: none;
  }
  header .header-list {
    width: 100%;
    margin-top: 1em;
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  header .header-list li {
    margin: 0.5em 0.5em;
    text-align: center;
  }
  header .header-list li a {
    text-decoration: none;
    color: #161a1d;
    font-weight: bold;
  }
  header .header-list li a:hover {
    color: #9e2a2b;
  }
  header .header-list li a img {
    width: 1.5em;
    height: 1.5em;
  }
  header .header-list li a img:hover {
    width: 1.6em;
    height: 1.6em;
  }
}
@media (min-width: 1001px) {
  header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }
  header .header-logo {
    width: 8.4em;
    height: 6.9em;
    margin: 0 1em;
  }
  header .header-list-toggle {
    display: none;
  }
  header .header-list {
    list-style-type: none;
    font-size: 1rem;
    display: inline;
  }
  header .header-list li {
    display: inline;
    margin: 0 0.4em;
  }
  header .header-list li a {
    text-decoration: none;
    color: #161a1d;
  }
  header .header-list li a:hover {
    color: #9e2a2b;
    font-weight: bold;
  }
  header .header-list li a img {
    position: relative;
    top: 0.45em;
    width: 1.3em;
    height: 1.3em;
  }
  header .header-list li a img:hover {
    width: 1.4em;
    height: 1.4em;
  }
}

.about {
  width: 75%;
  margin-inline: 30%;
}
.about p {
  padding-inline: 1rem;
  max-width: 70ch;
}

.noResult {
  display: none;
  font-size: 1.5rem;
  justify-content: center;
}

#search-icon {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}

.search-bx .search {
  align-items: center;
  color: #161a1d;
  display: flex;
  position: relative;
}
.search-bx .search input {
  background: transparent;
  border-radius: 20px;
  border: none;
  color: #161a1d;
  outline: none;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  width: 0px;
}
.search-bx .search i {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 13px;
  transition: 0.4s linear;
}
.search-bx .search .search-bx2 {
  background: rgba(22, 26, 29, 0.0823529412);
  border-radius: 10px;
  display: block;
  height: 300px;
  left: -10px;
  opacity: 0;
  overflow: auto;
  position: absolute;
  scrollbar-width: thin;
  scrollbar-color: rgba(22, 26, 29, 0.0823529412) rgba(22, 26, 29, 0.0823529412);
  top: 35px;
  transition: 0.3s linear;
  visibility: hidden;
  width: 280px;
}
.search-bx .search .search-bx2 a {
  align-items: center;
  color: #161a1d;
  display: flex;
  height: 100px;
  text-decoration: none;
  transition: 0.3s linear;
  width: 100%;
}
.search-bx .search .search-bx2 a img {
  height: 100%;
  padding-right: 5px;
  top: 0px;
  width: 80px;
}
.search-bx .search .search-bx2 a .search-content {
  color: #161a1d;
}
.search-bx .search .search-bx2 a .search-content h6 {
  font-size: 13px;
}
.search-bx .search .search-bx2 a .search-content p {
  color: #161a1d;
  font-size: 11px;
  font-weight: 500;
}
.search-bx .search .search-bx2 a:hover {
  background: #edf2f4;
}
.search-bx .search .search-input {
  padding: 3px 0px 3px 8px;
  width: 280px;
}

@media (max-width: 500px) {
  .search-bx {
    display: flex;
  }
  .search-bx .search .search-bx2 {
    display: block;
    background: #fff3b0;
    bottom: 0;
    height: 460px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    top: 120px;
    width: 80vw;
  }
  .search-bx .search .search-input {
    background: #fff3b0;
    display: block;
    left: 25px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 80vw;
  }
  .search-bx .search #search {
    background: #fff3b0;
    color: #161a1d;
    position: absolute;
    top: -520px;
  }
  .search-bx .search #search-icon {
    color: #fff3b0;
    font-size: 2em;
    left: 10px;
    position: absolute;
    top: -590px;
  }
}

:root {
  background-color: #d9d9d9;
  color: #161a1d;
  font-family: "Fira Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-block: 2rem 1rem;
  margin-inline: 0.5rem;
}

p {
  font-family: "Mukta";
  margin-bottom: 0.5rem;
  line-height: 170%;
  max-width: 75ch;
  font-size: 1rem;
  color: #161a1d;
}

a {
  text-decoration: none;
  color: #540b0e;
  font-weight: 700;
  transition: all 0.3s;
}
a:hover {
  color: #9e2a2b;
}

.placeholder {
  text-align: center;
}
.placeholder p {
  margin: auto;
}
.placeholder audio {
  margin-top: 1rem;
}
.placeholder button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  background-color: #540b0e;
  border-radius: 10px;
  padding: 8px;
  color: #fff3b0;
  border: 1px soild black;
  text-align: center;
  text-decoration: none;
}
